*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
td{
    padding: 10px;
    padding-left: 30px;
}
#footer{
    background-color: rgb(216, 241, 253);
}
header nav{
    box-shadow: 5px 5px 25px rgba(0,0,0,.5);
}
#logo{
    color:blue;
    font-size: 25px;
    font-weight: 800;
}
.nav-item:hover{
    text-decoration: underline 2px solid blue;
}